<div class="wrapper">
    <div class="logo">
        <img src="../../assets/th (1).jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        My Bank
        <h4> {{aim}}</h4>
        <!-- interpollation -->
    </div>
    
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input (change)="acnochange($event)" type="text" name="acno" id="login_acno" [placeholder]="account">
    <!-- property binding -->
        </div>
        <div class="form-field d-flex align-items-center">
            <input  (change)="pswdchange($event)" type="password" name="password" id="login_pswd" placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="login()" type="button" >Login</button>

    </form>
    <div class="text-center fs-5 mt-3">
       <a routerLink="register">Sign up</a>
    </div>
</div>
 <app-register></app-register> 
